:root {
  --bannersize: 80px;
  --bannerbig: 100px;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #d7d7d1 20%,
    #d7d7d1 100%
  );
  overflow: hidden;
}

.active {
  background-color: #e6e6e6;
}

#app {
  height: 90vh;
  margin-top: 5vh;
  background-color: white;
}

#side,
#mainSection {
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

#userBarChat,
#profileBar,
#typeBarChat {
  height: var(--bannersize);
}

#profileBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.icons i {
  font-size: 1.7rem;
  margin: 5px;
}

#notificationBar {
  padding: 10px;
  background-color: #8cd7fa;
}

.circleIcon {
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 2rem;
  color: #8cd7fa;
}

#searchBar {
  height: 50px;
  background-color: #fafafa;
}

#activeChat {
  background-image: url("./img/mine.jpg");
  height: calc(90vh - 160px);
  padding: 10px 40px;
}

.messageBody {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: absolute;
  right: 10px;
  background-color: inherit;
}

#activeChat button {
  border: none;
  background-color: transparent;
  display: none;
}

#activeChat .messageBody:hover button {
  display: block;
}

/* CHAT LATERALI */
.chatsList {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listContainer {
  overflow-y: scroll;
}

.userChat {
  display: flex;
  padding: 10px;
  height: var(--bannersize);
  align-items: center;
}

.profilePicture {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  margin-right: 30px;
}

#activeChat .sent {
  background-color: #d2f5b9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  align-self: flex-end;
}

#activeChat .received {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.timeStamp {
  color: darkslategray;
  font-size: 0.7rem;
  align-self: flex-end;
}

#userBarChat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
